.list{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

}

.wrapper{
    padding: 40px 0;
}
.type{
    font-size: 25px;
    font-weight: 400;
    color: white;
    padding: 20px 0;
}
.error{
    font-size: 25px;
    font-weight: 400;
    color: red;
}
